# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# Xml files

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

[*.xml]
indent_size = 2
